.card-body {
    background-color:#e0d5d59e;
      font-size: 25px;
      
      padding:20px;
  }
  
  p{
      font-size: 100px;
      text-align: center;
      
  }
  
  .jumbotron{
      font-size: 30PX;
  }
  
  